.bookingcalendar {
	.bookingdata {
		
		width:100%;
		max-width:$contentwidth;
		margin:0 auto;
		
		text-align:center;
		
		h1 {
			margin:0 auto;
			text-align:center;
			font-size:24px;
			margin-bottom:25px;
			
			@media screen and (min-width: 400px ) {
				font-size:28px;
				margin-bottom:35px;
			}
			@media screen and (min-width: 600px ) {
				font-size:40px;
				margin-bottom:45px;
			}
			
		}
		
		h2 {
			 
			 display:block;
			 margin-bottom:25px;
			
			 text-align:center;
			 
			 font-weight:900;
			 text-transform:uppercase;
			 color:#000;
			 letter-spacing:2.5px;
		
		 }
		 
		h3 {
			margin:0px auto;
			text-align:center;
			font-size:25px;
			line-height:1.2;
			
			&:after {
				content:"";
				width:40%;
				height:8px;
				background-color:#e2e2e2;
				margin:40px auto 60px;
				display:block;
				
				@media screen and (min-width: 400px ) {
					margin-top:35px;
				}
				@media screen and (min-width: 600px ) {
					margin-top:45px;
				}
			}
		}
		
		
		.titleblock {
			text-align:center;
			display:block;
			padding:30px 10px 25px;

			
			
		} 
		.navigation {
			width:100%;
			margin:auto;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: space-between;
			align-items: center;
			
			>div {
				flex:0 0 40%;
				font-weight:600;
				text-transform:uppercase;
				text-align:left;
				
				
				
				&:nth-child(2) {
					text-align:right;
				}
				
				a {
					font-size:18px;
					color:$blue;
					text-decoration:none;
					&:hover {
						color:$lighterblue;
						cursor:pointer;
					}
				}
			}
			
			
		}
		
		.calendar {
				margin:30px auto;
				width:245px;
				display: grid; 
				grid-column:repeat(245px,1);
				 grid-auto-rows: minmax(30px, auto);
				  gap: 20px 20px; 
				 grid-template-areas:  "."; 
				 
				 
			   
		
				.monthblock {
					width:245px; //width:290px;
					margin:0 auto auto;
				
					ul {
					margin:0;
					padding:0;
					display: grid; 
					  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
					  grid-template-rows: 1fr; 
					  gap: 0px 0px; 
					  grid-template-areas: 
						". . . . . . ."; 
					
				
					
					li {
						list-style:none;
						margin:0;
						padding:0;
						
						order: 0;
						flex: 0 0 auto;
						height:35px;
						
						text-align:center;
						display: flex;
						flex-direction: column;
						flex-wrap: nowrap;
						justify-content: center;
						align-content: center;
						align-items: center;
						font-weight:400;
						
						&.disabled {
							color:#cdc8c8;
						}
						
						
						
						&.fill {
							background-color:#cdc8c8;
						}
					}
					
					&.monthname {
						border: 1px solid $blue;
						li {
							
							font-weight:600;
							text-transform:uppercase;
							flex: 0 0 100%;
							grid-column: 1 /  span 7;
							
		
						}
					}
					&.daysofweek {
						
						li {
							background-color:$blue;
							color:#FFF;
		
						}
					}
					&.calendar_row {
						border-left:1px solid $blue;
						border-right:1px solid $blue;
						border-bottom:1px solid $blue;
						
						li {
							border-right:1px solid $blue;
							&:hover {
								cursor:pointer;
							}
							&:last-child {
								border-right:0px solid $blue;
							}
						}
						
					}
				}
				}
				
				@media screen and (min-width: 560px ) {
					width:510px;
					grid-column:repeat(245px,2);
					grid-auto-rows: minmax(30px, auto);
					grid-template-areas:  ". ."; 
				}
				
				@media screen and (min-width: 900px ) {
					width:795px;
					grid-column:repeat(245px,3);
					grid-auto-rows: minmax(30px, auto);
					grid-template-areas:  ". . ."; 
				}
				
				@media screen and (min-width: 1200px ) {
					width:100%;
					max-width:$contentwidth;
					grid-column:repeat(1fr,4);
					grid-auto-rows: minmax(30px, auto);
					grid-template-areas:  ". . . ."; 
				}
				
			
		}
		
		.instructions {
			padding:30px 20px;
			
			
			h4 {
				font-size:18px;
				margin-bottom:20px;
				text-align:center;
				 
				 font-weight:900;
				 text-transform:uppercase;
				 color:#000;
				 letter-spacing:2.5px;
			}
			
			p {
				a {
					width:240px;
					font-size:20px;
					font-weight:600;
					border:1px solid $blue; padding:8px 24px;
					text-transform:uppercase;
					text-decoration:none;
					color:$blue;
					margin:10px auto;
					
					&:hover {
						color:#FFF;
						background-color:$blue;
					}
				}
			}
			
			
		}
		
	}
	
	
}