.pagehero {
	width:100vw;
	background-color:paleturquoise;
	height:700px;
	
	position:relative;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	img {
		width:90%;
		max-width:500px;
	}
	
	&.innerpage {
		height:650px;
	}
	
	.overlay {
		background-color:rgba(0,0,0,0.2);
		top:0;
		bottom:0;
		left:0;
		right:0;
		position:absolute;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;

	} 
	
	
	
	
}

.cb-slideshow {
	list-style:none;
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0; 
	margin:0;
	padding:0;
}

.cb-slideshow li{ 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: none;
	opacity: 0;
	z-index: 0;
	animation: imageAnimation 36s linear infinite 0s; 
}

.cb-slideshow li:nth-child(1){ 
	animation-delay: 0s; 
}
.cb-slideshow li:nth-child(2){ 
	animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3){ 
	animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4){ 
	animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5){ 
	animation-delay: 24s; 
}



@keyframes imageAnimation { 
	0% { opacity: 0; animation-timing-function: ease-in; }
	8% { opacity: 1; animation-timing-function: ease-out; }
	17% { opacity: 1 }
	25% { opacity: 0 }
	100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}


.pagehero_video {
	width:100vw;
	aspect-ratio: 16 / 9;
	
	position:relative;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	img {
		width:90%;
		max-width:500px;
	}

	
	div.padd {
		width: 100%;
	  padding-bottom: 56.25%;
	  background: gold;
	  position:relative;
	
	
		
	}
	
	.overlay {
		background-color:rgba(0,0,0,0.2);
		top:0;
		bottom:0;
		left:0;
		right:0;
		position:absolute;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
	
	} 
	
	
}
