.imageandtext {
	padding:0 !important;
	
	.wcp-columns {
		margin:0;
		padding:0;
		grid-gap: 0 0;
		width:100%;
		
		@media screen and (max-width: 800px ) {
			margin:auto;
			grid-template-columns: 1fr;
			grid-template-rows: minmax(400px, auto) minmax(400px, auto);
			gap: 0px 0px;
			grid-auto-flow: row;
			grid-template-areas: "textside" "imageside";
		}
		@media screen and (min-width: 800px ) {
			width:100% !important;
			max-width:100%  !important;
			margin:auto;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: minmax(400px, auto);
			gap: 0px 0px;
			grid-auto-flow: row;
			grid-template-areas: "textside imageside";
			
			&.right {
				grid-template-areas: "imageside textside" !important;
			}
		}
		@media screen and (min-width: 1000px ) {
			grid-template-rows: minmax(500px, auto);
		}
		
		.wcp-column {
		 
		 	&.imageside {
				 grid-area: imageside;
				 background-position: center center;
				 background-repeat:no-repeat;
				 background-size:cover;
			 }
		 	&.textside {
				 grid-area: textside;
				 display: flex;
				 flex-direction: column;
				 flex-wrap: nowrap;
				 justify-content: center;
				 align-content: space-between;
				 align-items: flex-start;
				 
			
				 
				 .content {
					 margin:0 auto;
					 width:90%;
					 max-width:90%;
					 padding:50px;
					 
					 h2 {
						 
						 display:block;
						 margin-bottom:25px;
						
						 text-align:center;
						 
						 font-weight:900;
						 text-transform:uppercase;
						 color:#000;
						 letter-spacing:2.5px;

					 }
					 
					 h5{
						  text-transform:uppercase;
						  display:block;
						  margin:25px 0 0;
						 
						  text-align:center;
						  
						  font-weight:700;
						  text-transform:uppercase;
						  color:#000;
						  letter-spacing:2.5px;
						  font-size:18px;
					 
					  }
					 p {
						 text-align:center;
						 &:last-child {
							 margin-bottom:0;
						 }
						 
						 a { color:$lighterblue;
							 text-decoration:none;
							 
							 &:hover {color:$blue;}
						 }
					 }
					 
					 @media only screen and (min-width:800px) {
						 
						 max-width:900px;
						  h2, h5 {
							  text-align:left;
						  }
						  p {
							  text-align:left;
						  }
						  

					  }
				 }
			 }
		 }
	}
	
	
}


ul.features {
	margin-left:0;
	padding-left:20px !important;
	-moz-column-count: 1 !important;
	-moz-column-gap: 20px !important;
	-webkit-column-count: 1 !important;
	-webkit-column-gap: 20px !important;
	column-count: 1 !important;
	column-gap: 20px  !important;
	
	@media screen and (min-width: 1100px ) {
		-moz-column-count: 2 !important;
		-moz-column-gap: 20px !important;
		-webkit-column-count: 2 !important;
		-webkit-column-gap: 20px !important;
		column-count: 2 !important;
		column-gap: 20px !important;
	}
	
}
