//header {position:relative;}

/* .navigation-menu class: Navigation wrapper
   .main-navigation class: Navigation links wrapper */

/* Mobile Version */

$DeskNavLink : #FFF;
$DeskNavLinkHover : yellow;
$MobileNavLink : #FFF;
$MobileNavLinkHover : yellow;
$MobileMenuOpen : #FFF;
$MobileMenuOpenHover : yellow;
$MobileMenuClose : black;
$MobileMenuCloseHover : yellow;

.navigation-menu {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  background-color:black;

/* Mobile Version */	
	.main-navigation {
  		display: none;
  		padding-left: 0px;
		
		li {
  			list-style-type: none;
  			margin: 0px auto;
  			text-align: center;
		
				a {
  							
  							color: $DeskNavLink;
  							margin: 0px 2px 0px 2px;
  							text-decoration: none;
  							display: inline-block;
						
						
							&:hover {
  								color: $DeskNavLinkHover ;
  								transition: 0.3s ease;
							}
						}
		}
}
	.menuopen {
  	margin: 5px 30px 5px 5px;
  	cursor: pointer;
  	font-size: 25px;
  	color: $MobileMenuOpen;
	  	&:hover {
		  	color:$MobileMenuOpenHover;
	  	}
}
	#menu-toggle {
  	display: none;
}
	#menu-toggle:checked + .main-navigation {
		position: fixed;
		z-index:2000;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color:red;
    	display: block;
    	margin:0;
  	
  	label.menuclose {
	  	text-align:right;
	  	margin:20px 20px 20px auto;
	  	font-size:40px;
	  	display:block;
	  	width:40px;
	  	color : $MobileMenuClose;
	  	
	  	&:hover {
		  	color : $MobileMenuCloseHover;
	  	}
  	}
  	
  		li {
		  	a {color:$MobileNavLink;
			  	
			  	&:hover {
				  	color:$MobileNavLinkHover;
			  	}
		  	}
	  	}
	}
	
/* Desktop Version */
	@media screen and (min-width: 505px) {
  	.navigation-menu {
		//height: 70px;
		display: flex;
		align-items: center;
  	}
	
  	.main-navigation {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin: 0;
		padding:0;
  	
	
  		li {
			  position:relative;
		  	a {
				padding: 5px 8px;
  		  	}
		
			ul {display:none;
				position:absolute;
				top:100%;
				background-color:green;
				margin:0;
				padding:10px;
				
				
				li {white-space: nowrap;
					display:block;
					padding:5px;
					
						margin:0;
						white-space: nowrap;
						display:block;
						padding:0px !important;
						
						a {
							display:block;
							margin:0!important;
							padding:0!important;
						}
				}
				
			}
		}
	}
	
	
  	label {
		display: none;
  	}
	
	
	}
}